@if (isDataLoaded | async) {
  <h1 class="title">Todos los grupos</h1>

  <!-- Barra de búsqueda -->
  <div class="search-container">
    <input type="text" placeholder="Buscar grupo" [(ngModel)]="searchTerm" />
  </div>

  <!-- Listado de grupos filtrado -->
  <div class="groups-container">
    <div class="group-item" *ngFor="let group of filteredGroups()">
      <h2>{{ group.name }}</h2>
      <p>{{ group.createdAt | date: 'dd/MM/yyyy'}}</p>

      @if (group.isMember) {
        <p>Estás en el grupo</p>
        <div class="group-item" (click)="openGroup(group.id)">
          <mat-icon>open_in_new</mat-icon> Ver más detalles
        </div>
      } @else {
        <div class="group-item" (click)="joinGroup(group.id)">
          <mat-icon>open_in_new</mat-icon> Unirse al grupo
        </div>
      }
    </div>
  </div>

  <div class="create-group-container">
    <a [routerLink]="['/create-group']" class="create-group-button">Crear grupo</a>
  </div>
} @else {
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
}
