<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <label>PocketPartners</label>
  <img src="assets/images/logo.png" alt="logo" style="height: 50px; margin-left: 5px">
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="home" mat-button><mat-icon>home</mat-icon> Home</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="users" mat-button><mat-icon>person</mat-icon> Users</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="groups" mat-button><mat-icon>people</mat-icon> Groups</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="create-group" mat-button><mat-icon>add</mat-icon>New Group</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="expenses" mat-button><mat-icon>money</mat-icon>Expenses</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="incoming" mat-button><mat-icon>money</mat-icon>Incoming Payments</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="outgoing" mat-button><mat-icon>money</mat-icon>Outgoing Payments</button>
      </mat-list-item>
      <mat-list-item (click)="logout()">
        <button mat-button><mat-icon>logout</mat-icon>Logout</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
