<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>
        New Expense
      </ng-template>
      <mat-form-field>
        <mat-label>Give it a name</mat-label>
        <input matInput formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!--   <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>
        When?
      </ng-template>
      <mat-form-field>
        <mat-label>Date of the Expense</mat-label>
        <input type="date" matInput formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>
        How much?
      </ng-template>
      <mat-form-field>
        <mat-label>Set the amount</mat-label>
        <input type="number" matInput formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>
        Which group?
      </ng-template>
      <mat-form-field>
        <mat-label>Pick a group</mat-label>
        <mat-select formControlName="firstCtrl" required>
          <mat-option *ngFor="let group of joinedGroups" [value]="group.id">
            {{ group.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      Summary
    </ng-template>
    <div>
      <h1>Summary</h1>
      <p>Name: {{ firstFormGroup.value.firstCtrl }}</p>
      <p>Expense: {{ thirdFormGroup.value.firstCtrl }}</p>
      <p>Group: {{ fourthFormGroup.value.firstCtrl }}</p>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-stepper>