@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.title-container {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.title-container h1 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff8c00;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 24px;
}

.group-card {
  margin: 1.5rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.3s;
}

.group-card:hover {
  transform: scale(1.02);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem 40px;
}

.card {
  flex: 1;
  margin: 0 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.group-container {
  padding: 1rem;
}

.group-card {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: calc((100% - 2 * 1em) / 3);
  text-align: left;
}

.box h3,
.box h4 {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.box p {
  font-family: 'Arial', sans-serif;
  color: #777;
  margin: 0.5em 0;
}

.btnPago {
  color: white;
  background-color: rgb(170, 103, 242);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 153px;
}

.btnPago:hover {
  background-color: rgb(150, 83, 222);
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .box {
    width: 100%;
    margin-bottom: 1em;
  }
}