@if (dataLoaded | async) {
<div class="title-container">
  <h1>Outgoing Payments</h1>
</div>

<div class="cards">
  <mat-card class="done card">
    <mat-card-header>
      <mat-card-title>Payments Made</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="group-container">
        @if (paymentsMade.length > 0) {
        <mat-card *ngFor="let payment of paymentsMade" class="group-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ payment.description }}</mat-card-title>
            </mat-card-title-group>

          </mat-card-header>
          <mat-card-content>
            <mat-card-subtitle>{{ payment.date | date }}</mat-card-subtitle>
            <mat-card-subtitle>{{ payment.amount | currency }}</mat-card-subtitle>
            <mat-card-subtitle>Groups: {{ payment.group.name }}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
        }
        @else {
          <mat-card-content>
            Todavía no hay pagos. ¡Haz uno!
          </mat-card-content>
        }
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="missing card">
    <mat-card-header>
      <mat-card-title>Payments to Do</mat-card-title>
      <button [routerLink]="'add-payment'" mat-raised-button class="btnPago">Make Payment</button>
    </mat-card-header>

    <mat-card-content>
      <div class="group-container">
        <mat-card *ngFor="let payment of paymentsToDo" class="group-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ payment.description }}</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <mat-card-subtitle>{{ payment.date | date }}</mat-card-subtitle>
            <mat-card-subtitle>{{ payment.amount | currency }}</mat-card-subtitle>
            <mat-card-subtitle>Groups: {{ payment.group.name }}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
}
@else {
<div class="loading-container">
  <mat-spinner></mat-spinner>
</div>
}
